@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@using turboaz.Models
@model List<Car>
<section class="elanlarim">
    <div class="myelan">
        <div class="myelantitle">
            <p>Mənim elanlarım</p>
        </div>
        <div class="elanyerleri">
            <a href="">Butun elanlar</a>
            <a href="">Saytda</a>
            <a href="">Gozlemede</a>
        </div>
        <div class="avtoelan">
                @foreach (var item in Model)
                {
            <div class="avtoelans">
                     <div class="avtofoto">
                    <img src="/img/@item.Photos.FirstOrDefault().PhotoUrl">
                </div>
                <div class="aftodescription">
                    <p class="p-qiymet"> <strong><span>@item.CarQiy</span> <span>AZN</span></strong> </p>
                    <p>
                        
                        <span>@item.CarModel</span>
                    </p>
                    <p>@item.CarIl</p>
                    <p class="p-tarix">@item.CarSeher</p>
                </div>
                <a href="/Home/Edit/@item.CarId">Edit</a>
                    <a href="/Home/Readmore/@item.CarId">readmore</a>
                    <a href="/Home/Remove/@item.CarId">remove</a>
            </div>
                };
               
        </div>
    </div>
</section>